<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwj.PaintNail.mapper.AdministratorsMapper">

    <resultMap id="BaseResultMap" type="com.lwj.PaintNail.entity.Administrators">
            <result property="administratorId" column="Administrator_id" jdbcType="VARCHAR"/>
            <result property="administratorName" column="Administrator_name" jdbcType="VARCHAR"/>
            <result property="administratorPwd" column="Administrator_pwd" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Administrator_id,Administrator_name,Administrator_pwd
    </sql>
</mapper>
