<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwj.PaintNail.mapper.AvailabletimeMapper">

    <resultMap id="BaseResultMap" type="com.lwj.PaintNail.entity.Availabletime">
            <id property="timeId" column="Time_id" jdbcType="VARCHAR"/>
            <id property="manicuristId" column="Manicurist_id" jdbcType="VARCHAR"/>
            <result property="availabletimeDate" column="AvailableTime_date" jdbcType="DATE"/>
            <result property="availabletimeState" column="AvailableTime_state" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Time_id,Manicurist_id,AvailableTime_date,
        AvailableTime_state
    </sql>
</mapper>
